[Unit]
Description=CouchPotato docker container
Requires=docker.service deluge-docker.service cardigann-docker.service
After=docker.service deluge-docker.service cardigann-docker.service

[Service]
EnvironmentFile=/etc/systemd/download_settings.env
ExecStartPre=-/usr/bin/docker create \
 --name=couchpotato \
 -e PUID=${PUID} -e PGID=${PGID} \
 -e TZ=${TZ} \
 -p 5050:5050 \
 -v "${DOWNLOADS_PATH}":/downloads \
 -v "${DOWNLOADS_PATH}/movies":/movies \
 -v "${CONFIG_PATH}/couchpotato":/config \
 linuxserver/couchpotato
ExecStart=/usr/bin/docker start -a couchpotato
ExecStop=/usr/bin/docker stop couchpotato

[Install]
WantedBy=multi-user.target