[Unit]
Description=Persistent storage for data and configuration files

[Mount]
What=/dev/disk/by-uuid/d52d2d0e-2c4b-4440-ace0-1eb852c3879b
Where=/mnt/data
Type=ext4
Options=defaults

[Install]
WantedBy=local-fs.target
